*.iml
.gitignore.swp
build/
.gradle/
.idea/
local.properties
app/build/
app/libs/
app/*.iml
app/*.gradle
app/*.pro
app/src/androidTest/
app/src/test
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
